
<div class="wrapper wrapper-content animated fadeInRight" ng-app="angapp" ng-controller="contactController as contact">
  <div class="row">
    <div class="col-lg-12">
      <div class="inqbox float-e-margins">
        <div class="inqbox-content">
          <h2>Contact Us</h2>
          <ol class="breadcrumb">
            <li>
              <a ui-sref="home"><i class="fa fa-laptop"></i> <span class="nav-label">home</span></a>
            </li>
            <li class="active">
              <strong>Contact Us</strong>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row" block-ui="myBlockUI">

    <div class="col-lg-12">
      <div class="inqbox float-e-margins">
        <div class="inqbox-title border-top-success">

        </div>
        <div class="inqbox-content">
          <div class="kform">
            <form id="formContact" role="form" class="form-horizontal" name="formContact" ng-submit="formContact.$valid && update(contact)" novalidate>
              <div class="section-divider mb40" id="spy1">
                <span>Form Contact Us</span>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="emailinput"
                         ng-model="contact.Email" placeholder="Enter E-Mail">
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="contact.PhoneNo"
                         name="phone" placeholder="Enter Phone No">
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">WhatsApp</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="contact.WhatsApp"
                         name="whatsapp" placeholder="Enter WhatsApp">
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Viber</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" ng-model="contact.Viber"
                         name="viber" placeholder="Enter Viber">
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Twitter</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="twitter" ng-model="contact.Twitter" placeholder="Enter Twitter">
                </div>
              </div>

              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Facebook</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="facebook" ng-model="contact.Facebook" placeholder="Enter Facebook">
                </div>
              </div>

              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Google+</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="google" ng-model="contact.GooglePlus" placeholder="Enter GooglePlus">
                </div>
              </div>

              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">LinkedIn</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="linkedin" ng-model="contact.LinkedIn" placeholder="Enter LinkedIn">
                </div>
              </div>

              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">YourTube</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="youtubeinput" ng-model="contact.Youtube" placeholder="Enter YourTube">
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                  <button id="btnCancel" class="btn btn-white" type="submit">Cancel</button>
                  <button class="btn btn-primary" type="submit">Update</button>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="form-group">
    <ng-map center="{{latlng}}" zoom="17" on-click="getpos($event)">
      <marker position="{{latlng}}" title="Hello World!" on-dragend="getpos($event)"
              animation="Animation.BOUNCE" animation="DROP" draggable="true"></marker>
    </ng-map>
    {{latlng}}
  </div>
  <!--<div ng-app="myapp">
    <div ng-controller="mapCtrl">

      <div class="form-group">
        <ng-map center="{{latlng}}" zoom="17" on-click="getpos($event)">
          <marker position="{{latlng}}" title="Hello World!" on-dragend="getpos($event)"
                  animation="Animation.BOUNCE" animation="DROP" draggable="true"></marker>
        </ng-map>
        {{latlng}}
      </div>
    </div>
  </div>-->
</div>

<script>
  $(document).ready(function () {
    "use strict";
    $("#btnCancel").click(function () {
      var validator = $("#formContact").validate();
      validator.resetForm();
    });
    // just for the demos, avoids form submit
    jQuery.validator.setDefaults({
      debug: true,
      success: "valid",
      submitHandler: function (form) {
        form.submit();
      }
    });

    $("#formContact").validate({
      rules: {
        emailinput: {
          required: true,
          email: true
        },
        twitter: {
          required: true, url: true
        }
        ,
        facebook: {
          required: true, url: true
        },
        google: {
          required: true, url: true
        },
        linkedin: {
          required: true, url: true
        },
        youtubeinput: {
          required: true, url: true
        },
        phone: {
          required: true, number: true, minlength: 7,
          maxlength: 11
        },
        whatsapp: {
          required: true, number: true, minlength: 7,
          maxlength: 11
        },
        viber: {
          required: true, number: true, minlength: 7,
          maxlength: 11
        }
      }
    });
    //if ($('#formContact').valid()) {
    //  // something to do if form is valid
    //}
  });
</script>