
<div class="wrapper wrapper-content animated fadeInRight" ng-app="angapp" ng-controller="UserController as User" block-ui="myBlockUI">
  <div class="row">
    <div class="col-lg-12">
      <div class="inqbox float-e-margins">
        <div class="inqbox-content">
          <h2>User </h2>
          <ol class="breadcrumb">
            <li>
              <a ui-sref="home"><i class=" fa fa-laptop"></i> <span class="nav-label">home</span></a>
            </li>
            <li class="active">
              <strong>User</strong>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="inqbox float-e-margins">
        <div class="inqbox-title border-top-danger">
          <h5>List of User</h5>

        </div>
        <div class="inqbox-content">
          <!--<a href="" class="btn btn-danger btn-right" ng-click="DeleteSelected(tableSettings.getFilteredData())">Delete Multiple Rows selected</a>-->
          <div class="table-responsive">
            <input type="text" class="gui-input" placeholder="Search..." id="sgeneral" ng-model="mySearch" ng-change="tableSettings.search(mySearch)">


            <!--simple-table attribute passes the settings-->
            <table simple-table="tableSettings" class="table table-striped table-bordered table-hover dataTables-example">
              <tr ng-repeat="record in tableSettings.getFilteredData() track by $index">

                <td title="FullName" data-sort-by="FullName">
                  {{record.FirstName}}
                  {{record.LastName}}
                </td>
                <td title="Email" data-sort-by="Email">
                  {{record.Email}}
                </td>
                <td title="Status" data-sort-by="Status">
                  <span class="label" ng-class="{true:'label-success', false:'label-danger', '':'hidden'}[record.Status]">
                    {{ record.Status ? 'Active' : 'In Active' }}
                  </span>
                </td>
                <td title='CreatedDate' data-sort-by="CreatedDate">
                  {{record.CreatedDate}}
                </td>
                <!--not sortable-->
                <td title='User Role' data-sort-by="Role">
                  {{record.Role}}
                </td>
                <td title='Property Count' data-sort-by="UserPropertyCount">
                  {{record.UserPropertyCount}}
                </td>
                <td>
                  <a data-target="#" ng-click="edit(record)"><img src="../../../Images/edit-icon.png" class="iconsthumb" /></a>
                  <a data-target="#" ng-click="remove(record)"><img src="../../../Images/delete-icon.png" class="iconsthumb" /></a>
                </td>
              </tr>
            </table>

            <nav ng-if="tableSettings.getTotalPages() > 1">
              <ul class="pagination">
                <!--First Page-->
                <li ng-click="tableSettings.setPage(1)">
                  <a href="javascript:void(0)">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li ng-repeat="page in tableSettings.getTotalPagesArray() track by $index" ng-class="{disabled:$index+1 == tableSettings.getPage()}" ng-click="tableSettings.setPage($index+1)">
                  <a href="javascript:void(0)" ng-class="{active:$index+1 == tableSettings.getPage() }">
                    <span aria-hidden="true">{{$index+1}}</span>
                  </a>
                </li>
                <!--Last Page-->
                <li ng-click="tableSettings.setPage(tableSettings.getTotalPages())">
                  <a href="javascript:void(0)">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
              <div class="pageSize">
                <select class="form-control input-sm" id="displayPerPage" ng-model="itemsPerPage" ng-init="itemsPerPage = 3" ng-change="tableSettings.setRows(itemsPerPage)" ng-options="item for item in selectOptions"></select>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-12">
      <div class="inqbox float-e-margins">
        <div class="inqbox-title">
          <div class="col-lg-6">

          </div>

          <h5>User Details</h5>


          <div class="inqbox-content">

            <form role="form" class="form-horizontal" name="formUser" novalidate ng-submit="formUser.$valid && create(User)">
              <div class="inqbox-content">
                <div class="form-group">
                  <label class="col-sm-2 control-label">First Name</label>
                  <div class="col-sm-10">
                    <input type="text" ng-model="current.FirstName" name="firstNameValidation"
                           required="" class="form-control">
                  </div>
                  <div ng-show="formUser.$submitted || formUser.firstNameValidation.$touched">
                    <label id="-error" class="alert-error" ng-show="formUser.firstNameValidation.$error.required">Please type First Name.</label>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Last Name</label>
                  <div class="col-sm-10">
                    <input type="text" ng-model="current.LastName" name="lastNameValidation"
                           required="" class="form-control">
                  </div>
                  <div ng-show="formUser.$submitted || formUser.lastNameValidation.$touched">
                    <label id="-error" class="alert-error" ng-show="formUser.lastNameValidation.$error.required">Please type Last Name.</label>
                  </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10">
                    <!--<input type="text" ng-model="current.Email"
                           required="" class="form-control">-->
                    <input type="email" name="txtemail" ng-model="current.Email" placeholder="Enter E-Mail"
                           style="width: 450px;" class="form-control" required="">

                  </div>

                  <div ng-show="formUser.$submitted || formUser.txtemail.$touched">
                    <label id="-error" class="alert-error" ng-show="formUser.txtemail.$error.required">Please type Email.</label>
                  </div>
                  <div class="alert-error" ng-show="formUser.txtemail.$error.email">
                    Not valid email!
                  </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">WhatsApp	</label>
                  <div class="col-sm-10">
                    <input ng-model="current.WhatsApp" required="" type="number"
                           name="whatsValidation" class="form-control">
                  </div>
                  <div ng-show="formUser.$submitted || formUser.whatsValidation.$touched">
                    <label id="-error" class="alert-error" ng-show="formUser.whatsValidation.$error.required">Please type WhatsApp No.</label>
                  </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Viber	</label>
                  <div class="col-sm-10">
                    <input ng-model="current.Viber" type="number"
                           name="viberValidation" required="" class="form-control">
                  </div>

                  <div ng-show="formUser.$submitted || formUser.viberValidation.$touched">
                    <label id="-error" class="alert-error" ng-show="formUser.viberValidation.$error.required">Please type Viber No.</label>
                  </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Phone	</label>
                  <div class="col-sm-10">
                    <input ng-model="current.Phone" name="phoneValidation" required="" type="number" class="form-control">
                  </div>
                  <div ng-show="formUser.$submitted || formUser.phoneValidation.$touched">
                    <label id="-error" class="alert-error" ng-show="formUser.phoneValidation.$error.required">Please type Phone No.</label>
                  </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Role	</label>

                  <div class="col-sm-10">
                    <div class="i-checks">
                      <label>
                        <div ng-dropdown-multiselect="" options="roledata"
                             name="Roles" selected-model="rolemodel"
                             extra-settings="rolesettings"></div>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Status	</label>

                  <div class="col-sm-10">
                    <div class="i-checks">
                      <label>
                        <input type="checkbox"
                               ng-model="current.Status" value=""> <i></i>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hr-line-dashed"></div>

              <div class="form-group" style=" width: 100%;">
                <div class="col-sm-4 col-sm-offset-2">
                  <!--<input type="button" class="btn btn-primary" value="Update" ng-click="update(User)" ng-disabled="formUser.$invalid" />-->
                  <input type="submit" class="btn btn-primary pull-right" value="Save" ng-show="isCreate" ng-disabled="formUser.$invalid" />
                  <input type="button" class="btn btn-primary pull-right" value="Update" ng-show="isUpdate" ng-click="update(User)" ng-disabled="formUser.$invalid" />

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>