<link href="/Scripts/AngularJS/prism.css" rel="stylesheet" />
<link href="/Scripts/AngularJS/chosen.css" rel="stylesheet" />


<div class="wrapper wrapper-content animated fadeInRight" ng-app="angapp" ng-controller="AttractionController as Attraction" block-ui="myBlockUI">
  <div class="row">
    <div class="col-lg-12">
      <div class="inqbox float-e-margins">
        <div class="inqbox-content">
          <h2>Attraction </h2>
          <ol class="breadcrumb">
            <li>
              <a ui-sref="home"><i class=" fa fa-laptop"></i> <span class="nav-label">home</span></a>
            </li>
            <li class="active">
              <strong>Attraction</strong>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="inqbox float-e-margins">
        <div class="inqbox-title border-top-danger">
          <h5>List of Attraction  </h5>
        </div>
        <div class="inqbox-content">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example">

              <!--SEARCH :-->
              <input type="text" placeholder="Search" ng-model="Attraction.searchText" style="    margin-bottom: 12px;" />
              <input type="button" class="btn btn-primary pull-right" value="Search " ng-click="search(Attraction.searchText)" />
              <input type="button" class="btn btn-primary pull-right" value="All " ng-click="fetchallData()" />
              <thead>
              <th>Attraction English</th>
              <th>Historical English</th>
              <th>Category</th>
              <th>Regoin</th>
              <th>Longitude</th>
              <th>Latitude</th>
              <th> </th>
              </thead>
              <tbody>
                <tr ng-repeat="AttractionFor in Attraction.AttractionData">
                  <td>{{AttractionFor.AttractionNameEn}}</td>
                  <td>

                    {{ AttractionFor.HistoricalInformationEn | limitTo:35}}<span ng-if="AttractionFor.HistoricalInformationEn .length > 35">&hellip;</span>
                  </td>
                  <td>{{AttractionFor.Category}}</td>
                  <td>{{AttractionFor.Region}}</td>
                  <td>{{AttractionFor.Longitude}}</td>
                  <td>{{AttractionFor.Latitude}}</td>
                  <td>
                    <div style="    margin-bottom: 10px;">
                      <div style="    border: 2px solid #a1a1a1;  border-radius: 50%;
    height: 30px;
    line-height: 26px;
    text-align: center;    float: left;"><span>{{AttractionFor.Rank}}</span></div>
                      <a data-toggle="#" ng-click="view(AttractionFor)">
                        <img src="../../../Images/view-icon.png" class="iconsthumb" />
                      </a>
                    </div>
                    <div>
                      <a data-toggle="#" ng-click="edit(AttractionFor)">
                        <img src="../../../Images/edit-icon.png" class="iconsthumb" />
                      </a>
                      <a data-toggle="#" ng-click="remove(AttractionFor)">
                        <img src="../../../Images/delete-icon.png" class="iconsthumb" />

                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <uib-pagination boundary-links="true" total-items="Attraction.totalItems" ng-model="Attraction.currentPage" ng-change="Attraction.pageChanged()" items-per-page="Attraction.pageNumber" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-12">
      <div class="inqbox float-e-margins">
        <div class="inqbox-title">
          <div class="col-lg-6">

          </div>

          <h5>Attraction form</h5>

          <div class="inqbox-content">
            <button type="button" class="btn btn-block btn-outline btn-primary" style="display: none;" ng-show="isAdd" ng-click="Reset()">Add New</button>

            <form role="form" class="form-inline" name="formAttraction" ng-submit="formAttraction.$valid && create(Attraction)" novalidate>

              <div class="form-group">
                <div class="tabs-container">
                  <ul class="nav nav-tabs tab-border-top-primary">
                    <li class="active">
                      <a data-toggle="tab" data-target="#tab-1">
                        <img src="../../../Content/CountryLang/iconegypt.png" />
                      </a>
                    </li>
                    <li class="">
                      <a data-toggle="tab" data-target="#tab-2">
                        <img src="../../../Content/CountryLang/icongermany.png" />
                      </a>
                    </li>
                    <li class="">
                      <a data-toggle="tab" data-target="#tab-3">
                        <img src="../../../Content/CountryLang/iconitaly.png" />
                      </a>
                    </li>
                    <li class="">
                      <a data-toggle="tab" data-target="#tab-4">
                        <img src="../../../Content/CountryLang/iconrussia.png" />
                      </a>
                    </li>
                    <li class="">
                      <a data-toggle="tab" data-target="#tab-5">
                        <img src="../../../Content/CountryLang/iconusa.png" />
                      </a>
                    </li>
                    <li class="">
                      <a data-toggle="tab" data-target="#tab-6">
                        <img src="../../../Content/CountryLang/iconfrance.png" />
                      </a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                      <div class="panel-body">
                        <div class="form-group">
                          <label>Arabic AttractionName</label>
                          <input type="text" ng-model="current.AttractionNameAr" placeholder="Enter Arabic AttractionName"
                                 id="txtArabicAttractionName" class="form-control" name="uArabic" required="">
                          <br />
                          <div ng-show="formAttraction.$submitted || formAttraction.uArabic.$touched">
                            <label id="-error" class="error" ng-show="formAttraction.uArabic.$error.required">Please type Arabic AttractionName.</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                      <div class="panel-body">
                        <div class="form-group">
                          <label>Germany AttractionName</label>
                          <input type="text" ng-model="current.AttractionNameGe" placeholder="Enter Germany AttractionName"
                                 id="txtGermanyAttractionName" class="form-control" name="uGermany" required="">
                          <br />
                          <div ng-show="formAttraction.$submitted || formAttraction.uGermany.$touched">
                            <label id="-error" class="error" ng-show="formAttraction.uGermany.$error.required">Please type Germany AttractionName.</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                      <div class="panel-body">
                        <div class="form-group">
                          <label>Italy AttractionName</label>
                          <input type="text" ng-model="current.AttractionNameIta" placeholder="Enter Italy AttractionName"
                                 id="txtItalyAttractionName" class="form-control" name="uItaly" required="">
                          <br />
                          <div ng-show="formAttraction.$submitted || formAttraction.uItaly.$touched">
                            <label id="-error" class="error" ng-show="formAttraction.uItaly.$error.required">Please type Italy AttractionName.</label>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div id="tab-4" class="tab-pane">
                      <div class="panel-body">
                        <div class="form-group">
                          <label>Russian AttractionName</label>
                          <input type="text" ng-model="current.AttractionNameRu" placeholder="Enter Russian AttractionName"
                                 id="txtRussianAttractionName" class="form-control" name="uRussian" required="">
                          <br />
                          <div ng-show="formAttraction.$submitted || formAttraction.uRussian.$touched">
                            <label id="-error" class="error" ng-show="formAttraction.uRussian.$error.required">Please type Russian AttractionName.</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="tab-5" class="tab-pane">
                      <div class="panel-body">
                        <div class="form-group">
                          <label>English AttractionName</label>
                          <input type="text" ng-model="current.AttractionNameEn" placeholder="Enter English AttractionName"
                                 id="txtEnglishAttractionName" class="form-control" name="uenglish" required="">
                          <br />
                          <div ng-show="formAttraction.$submitted || formAttraction.uenglish.$touched">
                            <label id="-error" class="error" ng-show="formAttraction.uenglish.$error.required">Please type English AttractionName.</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="tab-6" class="tab-pane">
                      <div class="panel-body">
                        <div class="form-group">
                          <label>French AttractionName</label>
                          <input type="text" ng-model="current.AttractionNameFr" placeholder="Enter French AttractionName"
                                 id="txtFrenchAttractionName" class="form-control" name="uFrench" required="">
                          <br />
                          <div ng-show="formAttraction.$submitted || formAttraction.uFrench.$touched">
                            <label id="-error" class="error" ng-show="formAttraction.uFrench.$error.required">Please type French AttractionName.</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hr-line-dashed"></div>

              <div class="form-group">
                <div class="tabs-container">
                  <ul class="nav nav-tabs tab-border-top-primary">
                    <li class="active">
                      <a data-toggle="tab" data-target="#tab-7">
                        <img src="../../../Content/CountryLang/iconegypt.png" />
                      </a>
                    </li>
                    <li class="">
                      <a data-toggle="tab" data-target="#tab-8">
                        <img src="../../../Content/CountryLang/icongermany.png" />
                      </a>
                    </li>
                    <li class="">
                      <a data-toggle="tab" data-target="#tab-9">
                        <img src="../../../Content/CountryLang/iconitaly.png" />
                      </a>
                    </li>
                    <li class="">
                      <a data-toggle="tab" data-target="#tab-10">
                        <img src="../../../Content/CountryLang/iconrussia.png" />
                      </a>
                    </li>
                    <li class="">
                      <a data-toggle="tab" data-target="#tab-11">
                        <img src="../../../Content/CountryLang/iconusa.png" />
                      </a>
                    </li>
                    <li class="">
                      <a data-toggle="tab" data-target="#tab-12">
                        <img src="../../../Content/CountryLang/iconfrance.png" />
                      </a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div id="tab-7" class="tab-pane active">
                      <div class="panel-body">
                        <div class="form-group">
                          <div class="col-md-8">
                            <div class="section">
                              <label>Arabic Historical Information</label>
                              <textarea class="gui-textarea" style=" width: 389px;height: 142px;" ng-model="current.HistoricalInformationAr" name="hArabic" required=""></textarea>
                              <br />
                              <div ng-show="formAttraction.$submitted || formAttraction.hArabic.$touched">
                                <label id="-error" class="error" ng-show="formAttraction.hArabic.$error.required">Please type Arabic Historical Information.</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="tab-8" class="tab-pane">
                      <div class="panel-body">
                        <div class="form-group">
                          <div class="col-md-8">
                            <div class="section">
                              <label>Germany Historical Information</label>
                              <textarea class="gui-textarea" style=" width: 389px;height: 142px;" ng-model="current.HistoricalInformationGe" name="hGermany" required=""></textarea>

                              <br />
                              <div ng-show="formAttraction.$submitted || formAttraction.hGermany.$touched">
                                <label id="-error" class="error" ng-show="formAttraction.hGermany.$error.required">Please type Germany Historical Information.</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="tab-9" class="tab-pane">
                      <div class="panel-body">
                        <div class="form-group">
                          <div class="col-md-8">
                            <div class="section">
                              <label>Italy Historical Information</label>
                              <textarea class="gui-textarea" style=" width: 389px;height: 142px;" ng-model="current.HistoricalInformationIta" name="hItaly" required=""></textarea>

                              <br />
                              <div ng-show="formAttraction.$submitted || formAttraction.hItaly.$touched">
                                <label id="-error" class="error" ng-show="formAttraction.hItaly.$error.required">Please type Italy Historical Information.</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div id="tab-10" class="tab-pane">
                      <div class="panel-body">
                        <div class="form-group">
                          <div class="col-md-8">
                            <div class="section">
                              <label>Russian Historical Information</label>
                              <textarea class="gui-textarea" style=" width: 389px;height: 142px;" ng-model="current.HistoricalInformationRu" name="hRussian" required=""></textarea>

                              <br />
                              <div ng-show="formAttraction.$submitted || formAttraction.hRussian.$touched">
                                <label id="-error" class="error" ng-show="formAttraction.hRussian.$error.required">Please type Russian Historical Information.</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="tab-11" class="tab-pane">
                      <div class="panel-body">
                        <div class="form-group">
                          <div class="col-md-8">
                            <div class="section">
                              <label>English Historical Information</label>
                              <textarea class="gui-textarea" style=" width: 389px;height: 142px;" ng-model="current.HistoricalInformationEn" name="henglish" required=""></textarea>
                              <br />
                              <div ng-show="formAttraction.$submitted || formAttraction.henglish.$touched">
                                <label id="-error" class="error" ng-show="formAttraction.henglish.$error.required">Please type English HistoricalInformation.</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="tab-12" class="tab-pane">

                      <div class="panel-body">
                        <div class="form-group">
                          <div class="col-md-8">
                            <div class="section">
                              <label>French Historical Information</label>
                              <textarea class="gui-textarea" style=" width: 389px;height: 142px;" ng-model="current.HistoricalInformationFr" name="hFrench" required=""></textarea>
                              <br />
                              <div ng-show="formAttraction.$submitted || formAttraction.hFrench.$touched">
                                <label id="-error" class="error" ng-show="formAttraction.hFrench.$error.required">Please type French HistoricalInformation.</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="hr-line-dashed"></div>
              <div class="row">
                <div class="form-group">
                  <div class="input-group m-b">
                    <div class="col-md-4">
                      <div class="section">
                        <input type="number" minlength=6 maxlength=14 ng-model="current.Longitude" placeholder="Enter Longitude"
                               required
                               id="txtLongitude" class="form-control" style="width: 450px;" name="uLong">

                        <div ng-messages="formAttraction.uLong.$error" class="validateError">
                          <div ng-message="required">*</div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group m-b">
                    <div class="col-sm-10">
                      <div class="section">
                        <input type="number" minlength=6 maxlength=14 ng-model="current.Latitude" placeholder="Enter Latitude "
                               required id="txtLatitude" class="form-control" style="width: 450px;" name="uLat">

                        <div ng-messages="formAttraction.uLat.$error" class="validateError">
                          <div ng-message="required">*</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="hr-line-dashed"></div>
              <div class="row">
                <div class="form-group">
                  <label>Category</label>
                  <div ng-dropdown-multiselect="" options="categorydata"
                       selected-model="categorymodel" extra-settings="categorysettings"></div>
                  <span ng-show="formAttraction.ucate.required">Select Category</span>

                  <div ng-messages="formAttraction.ucate.$error">
                    <div class="error" ng-message="required">*</div>
                  </div>
                  <!--<input type="text" required class="form-control" style="visibility: visible" name="ucate">-->
                  <!--<select id="ddlcategoryList" class="form-control" data-modal="modal"
                              ng-model="categoryListModel" name="category"
                              ng-options="cat.Id as cat.NameEn for cat in category track by cat.Id"
                              ng-change="GetValueCategory()"
                              ng-required="true">

                        <option value="" disabled>--Select Category--</option>
                      </select>

                    <div ng-show="category.$submitted || formAttraction.category.$touched">
                      <label id="-error" class="error" ng-show="formAttraction.category.required">Please choose attraction.</label>
                    </div>-->

                </div>
                <div class="form-group">
                  <label>Region</label>

                  <div ng-dropdown-multiselect="" options="regiondata" name="uregion"
                       selected-model="regionmodel" extra-settings="regionsettings"></div>

                  <!--<select id="ddlregionList" class="form-control" data-modal="modal"
                              ng-model="regionListModel" name="region"
                              ng-options="reg.Id as reg.NameEn for reg in regions track by reg.Id"
                              ng-change="GetValue()"
                              ng-required="true">

                        <option value="" disabled>--Select Region--</option>  f/span>
                      </select>
                    <div ng-show="formAttraction.$submitted || formAttraction.region.$touched">
                      <label id="-error" class="error" ng-show="formAttraction.region.required">Please choose attraction.</label>
                    </div>-->
                  <div ng-messages="formAttraction.uregion.$error">
                    <div class="error" ng-message="required">*</div>
                  </div>

                </div>
              </div>

              <div class="hr-line-dashed"></div>

              <div class="form-group" style=" width: 100%;">
                <input type="button" class="btn btn-primary pull-left" value="Upload Excel File" ng-show="showUploader" ng-click="showExcel()" />


              </div>

              <div class="form-group" style=" width: 100%;">
                <div class="col-sm-4 col-sm-offset-2">
                  <input type="submit" class="btn btn-primary pull-right" value="Save " ng-show="isCreate" ng-disabled="formAttraction.$invalid" />
                  <input type="button" class="btn btn-primary pull-right" value="Update " ng-show="isUpdate" ng-click="update(Attraction)" ng-disabled="formAttraction.$invalid" />




                </div>
              </div>

              <!--<ul>
                <li ng-repeat="(key, errors) in formAttraction.$error track by $index">
                  <strong>{{ key }}</strong> errors
                  <ul>
                    <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                  </ul>
                </li>
              </ul>-->
            </form></form>
            


            <div ng-show="divuploadexcel" class="form-inline">
              <form name="myForm">
                <fieldset>
                  <legend>Upload Media</legend>
                  <br>Excel:
                  <input type="file" ngf-select ng-model="excelFile" name="file"
                         accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ngf-max-size="2MB" required
                         ngf-model-invalid="errorFile">
                  <i ng-show="myForm.file.$error.maxSize">
                    File too large
                    {{errorFile.size / 1000000|number:1}}MB: max 2M
                  </i>
                  <br>
                  <button class="btn btn-primary pull-left" ng-disabled="!myForm.$valid"
                          ng-click="uploadExcel(excelFile)">
                    Upload
                  </button>
                  <span class="progress" ng-show="excelFile.progress >= 0">
                    <div style="width:{{excelFile.progress}}%"
                         ng-bind="excelFile.progress + '%'"></div>
                  </span>
                  <span style="display: none;" ng-show="excelFile.result">Upload Successful</span>
                  <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

                </fieldset>
                <br>
              </form>
            </div>
            <div ng-show="divuploadmedia" class="form-inline">
              <form name="myFormmedia">
                <fieldset>
                  <legend>Upload Media</legend>
                  <br>Photo:
                  <input type="file" ngf-select ng-model="picFile" name="file"
                         accept="image/*" ngf-max-size="2MB" required
                         ngf-model-invalid="errorFile">
                  <i ng-show="myFormmedia.file.$error.maxSize">
                    File too large
                    {{errorFile.size / 1000000|number:1}}MB: max 2M
                  </i>
                  <!--<img ng-show="myFormmedia.file.$valid" ngf-thumbnail="picFile" class="thumb">-->
                  <div class="hr-line-dashed"></div>

                  <div ng-repeat="myImage in  AttractionInfomation">

                    <img class="thumb" ng-src="{{MainURL}}/api/Images/?imageId={{myImage.Image}}" />
                    <a data-toggle="#" ng-click="removeImage(myImage.Id)">
                      <img src="../../../Images/delete-icon.png" class="iconsthumb" />
                    </a>
                  </div>
                  <div class="hr-line-dashed"></div>

                  <button ng-disabled="!myFormmedia.$valid" class="btn btn-primary pull-left"
                          ng-click="uploadPic(picFile)">
                    Upload
                  </button>
                  <span class="progress" ng-show="picFile.progress >= 0">
                    <div style="width:{{picFile.progress}}%"
                         ng-bind="picFile.progress + '%'"></div>
                  </span>
                  <span style="display: none;" ng-show="picFile.result">Upload Successful</span>
                  <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                </fieldset>
                <br>
              </form>
              <div class="hr-line-dashed"></div>
              <form name="myFormvideo">
                <fieldset>
                  <legend>Upload Media</legend>
                  <br>Video:
                  <input type="file" ngf-select ng-model="videoFile" name="file"
                         accept="video/*" ngf-max-size="2MB" required
                         ngf-model-invalid="errorFile">
                  <i ng-show="myFormvideo.file.$error.maxSize">
                    File too large
                    {{errorFile.size / 1000000|number:1}}MB: max 2M
                  </i>
                  <div class="hr-line-dashed"></div>

                  <div ng-repeat="myVideo in  AttractionVideoInfomation">

                    <img class="thumb" ng-src="{{MainURL}}/api/Images/?imageId={{myVideo.ThumbImage}}" />
                    <a data-toggle="#" ng-click="removeVideo(myVideo.Id)">
                      <img src="../../../Images/delete-icon.png" class="iconsthumb" />
                    </a>
                  </div>
                  <div class="hr-line-dashed"></div>

                  <button ng-disabled="!myFormvideo.$valid" class="btn btn-primary pull-left"
                          ng-click="uploadvideo(videoFile)">
                    Upload
                  </button>
                  <span class="progress" ng-show="videoFile.progress >= 0">
                    <div style="width:{{videoFile.progress}}%"
                         ng-bind="videoFile.progress + '%'"></div>
                  </span>
                  <span style="display: none;" ng-show="videoFile.result">Upload Successful</span>
                  <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                </fieldset>
                <br>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


</div>


