<div style=" margin-top: 50px;" ng-app="angapp" ng-controller="messageController as message" block-ui="myBlockUI">

  <button class="btn btn-xs btn-default" style="margin-left: 42px;
    margin-bottom: 25px;" ng-click="ShowHide()">
    {{'ADDNEW' | translate}}
  </button>

  <div class="row" style="margin-right: 20px;margin-left: 20px;">

    <div class="col-md-12" data-ng-show="message.messageData.length > 0">


      <table class="table table-striped table-bordered">
        {{'SEARCH' | translate}} :
        <input type="text" placeholder="Search" ng-model="searchText" />
        <thead>
        <th>{{'ID' | translate}}</th>
        <th>{{'TITLE' | translate}}</th>
        <th>{{'CONTENT' | translate}}</th>
        <th> {{'DATETIME' | translate}}</th>
        </thead>
        <tbody>
          <tr ng-repeat="messageFor in message.messageData | filter : searchText">
            <td>{{messageFor.Id}}</td>
            <td>{{messageFor.MsgTitle}}</td>
            <td>{{messageFor.MsgContent}}</td>
            <td>{{messageFor.MsgDateTime}}</td> 
          </tr>
        </tbody>
      </table>
      <uib-pagination boundary-links="true" total-items="message.totalItems" ng-model="message.currentPage" ng-change="message.pageChanged()" items-per-page="message.pageNumber" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>

    </div>
    <div class="col-md-12" data-ng-show="message.messageData.length == 0">
      <div class="col-md-12">
        <h4>No Messages found</h4>
      </div>
    </div>


    <form ng-hide="IsHidden" name="messageForm" novalidate ng-submit="messageForm.$valid && message.insertData()">
      <p>Message Information</p>
      <table class="table table-striped table-bordered">

        <tr>
          <td>Title</td>
          <td><input type="text" ng-model="message.current.MsgTitle" required /> </td>
        </tr>
        <tr>
          <td>Content</td>
          <td><input type="text" ng-model="message.current.MsgContent" required /> </td>
        </tr>
      </table>
      <input type="submit" class="btn btn-primary pull-right" value="Save" ng-disabled="messageForm.$invalid" />

      <input type="button" class="btn btn-primary pull-right" value="Update" ng-show="isUpdate" ng-click="update()" ng-disabled="messageForm.$invalid" />

    </form>
  </div>
</div>
