
<div class="gray-bg" ng-app="logapp" ng-controller="changePasswordController as hc" block-ui="myBlockUI">
  <div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
      <h3>Change Password</h3>
      <p>Welcome Dear <span ng-cloack ng-bind="AdminUserName"></span>.</p>
      <!--<form class="m-t" role="form" action="http://softreliance.com/inq/login.html">-->
      <form role="form" class="m-t" name="formchangepassword" ng-submit="formchangepassword.$valid && changePassword(hc)" novalidate>
        <div class="form-group">
          <input type="password" ng-model="current.oldPass" class="form-control" name="password"
                 required placeholder="Old Password">
          
        </div>
        <div class="form-group">
          <input type="password" ng-model="current.newPass" class="form-control" placeholder="New Password" required="">
        </div>
        <button type="submit" ng-disabled="formchangepassword.$invalid" class="btn btn-primary block full-width m-b">Submit</button>
      </form>
    </div>
  </div>
</div>
